.Timeline {


    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 8px;
    padding: 20px 10px 0 10px;
    position: absolute;
    color: var(--resume-primary-text-color);
    top: 50%;
    transform: translateY(-50%);
    left: 2vw;



    :global {
        .Timeline_item {
            position: relative;
            display: flex;



            .Timeline_point {
                width: 8px;
                height: 8px;

                border-radius: 100%;
                border: 1px solid var(--resume-primary-text-color);
            }

            .line_step {
                display: flex;
                flex-direction: column;
            }

            .step_info {
                margin-bottom: 12px;
                transform: translateX(20px);
                min-width: 140px;
             
                word-break: break-all;
                text-overflow: ellipsis;
         
                cursor: pointer;


                .info_title {
                    color: var(--resume-primary-text-color);
                }

                .info_text {
                    margin-top: 5px;


                }
            }

            .Timeline_line {
                width: 1px;
                background-color: var(--resume-primary-text-color);
                flex: 1;
                margin: 4px 0;
                transform: translateX(3px);

            }
        }
    }
}